html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: gray;
    justify-content: center;
    height: fit-content;
    display: flex;
}

button {
    color: white;
    background-color: #16545d;
    border-radius: 5px;
}

button:disabled {
    color: #062e57;
    background-color: #1b9f9f;
}

div.wrapper {
    height: 100%;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

div.header {
    background-color: gray;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
}

div.footer {
    background-color: gray;
    border-top: 2px solid black;
    margin-top: 5px;
    position: sticky;
    bottom: 0;
}

div.content {
    flex: 1;
    overflow: auto !important;
}

div.content > div {
    height: 100%;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
}

form.choice {
    margin-bottom: 0;
}

h2.home {
    display: inline-block;
}

h3.doc {
    margin-top: 0.5em;
}

img.chart {
    border: 2px inset antiquewhite;
}

img.home {
    display: inline-block;
    height: 2em;
    width: 2em;
    vertical-align: text-bottom;
}

legend {
    font-weight: bold;
    padding: 0.5em;
}

table.charts {
    margin-left: auto;
    margin-right: auto;
}

table.charts col.size-left {
    width: 40%;
}

table.charts col.size-center {
    width: 20%;
}

table.charts col.size-right {
    width: 40%;
}

table.choice {
    margin-left: auto;
}

table.data {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

table.data caption {
    font-weight: bold;
}

table.data td, th {
    margin: 5px;
    padding: 5px;
}

table.data td {
    background-color: lightslategray;
    outline: 2px inset darkgray;
    outline-offset: -2px;
}

table.debug {
    margin: 5px;
    padding: 5px;
}

table.debug td {
    font-family: monospace;
    margin: 5px;
    padding: 5px;
    outline: 2px inset darkgray;
    outline-offset: -2px;
    background-color: lightslategray;
}

table.exhibit-table {
}

table.exhibit-table td:last-child {
    font-family: monospace;
    text-align: right;
}

table.exhibit-list {
}

table.exhibit-list td {
    font-family: monospace;
}

table.handler-v-warning {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.handler-v-warning th {
    height: 10em;
    white-space: nowrap;
    padding: 0 !important;
    font-family: monospace;
    font-weight: bold;
}

table.handler-v-warning th  > div {
    transform:
            translate(0px, 50px)
            rotate(300deg);
    width: 3em;
}

table.handler-v-warning th  > div > span {
    padding: 5px 10px;
}

table.handler-v-warning td {
    height: 1.5em;
}

table.handler-v-warning td.blank:nth-child(odd) {
    background-color: lightslategray;
}

table.handler-v-warning td.count {
    background-color: antiquewhite;
    outline: 2px inset antiquewhite;
    outline-offset: -2px;
    text-align: center;
}

table.handler-v-warning td.count span {
    font-family: monospace;
}

table.handler-v-warning td.name {
    font-family: monospace;
}

table.handler-v-warning td.level {
    font-size: 1.5em;
    font-weight: bold;
}

table.header, table.footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table.home {
    margin-left: auto;
    margin-right: auto;
}

table.home td {
    vertical-align: top;
}

table.home td.warnings {
    background-color: antiquewhite;
    outline: 2px inset antiquewhite;
    outline-offset: -2px;
    overflow: scroll;
}

table.home td.warnings pre {
    width: 800px;
}

table.instance {
    margin: 5px;
    padding: 5px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    outline: 2px inset darkgray;
    outline-offset: -2px;
    background-color: lightgray;
}

table.instance td {
    margin: 5px;
    padding: 5px;
}

table.instance td.extra {
    width: 55%;
}

table.instance td.logLine {
    width: 97%;
}

table.instance td.logLine pre {
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

table.instance td.name {
    font-family: monospace;
    font-size: 1em;
    width: 38%;
}

table.instance td.indent {
    width: 3%;
}

table.instance td.extra {
    font-family: monospace;
    font-size: 1em;
}

table.instance td.button {
    text-align: center;
    width: 7%;
}

table.scores {
    margin-left: auto;
    margin-right: auto;
}

table.top {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table.top tr.summary-header th {
    text-align: left;
}

table.top tr.summary {
    margin: 5px;
    padding: 5px;
    outline: 2px inset darkgray;
    outline-offset: -2px;
    background-color: lightgray;
}

table.top tr.summary td {
    padding: 10px;
    margin: 10px;
    vertical-align: baseline;
}

table.top tr.summary td li {
    font-family: monospace;
}

table.top tr.title {
    vertical-align: baseline;
}

table.top tr.title h2 {
    display: inline;
}

table.top tr.title td.score {
    font-size:   1.5em;
    text-align: right;
}

table.top tr.title td.score span {
    font-family: monospace;
    font-weight: bold;
}

table.top td.table {
    vertical-align: top;
}

table.warning {
    padding: 5px;
    table-layout: fixed;
    width: 800px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.warning td {
    margin: 5px;
    padding: 5px;
}

table.warning td.extra {
    font-family: monospace;
    font-size: 1em;
}

table.warning td.header {
    font-size: 1.25em;
    font-weight: bold;
}

table.warning td.level {
    font-size: 1.5em;
    font-weight: bold;
}

table.warning td.logLine pre {
    font-family: monospace;
    background-color: antiquewhite;
    outline: 2px inset antiquewhite;
    outline-offset: -2px;
}

table.warning td.description {
    background-color: antiquewhite;
    outline: 2px inset antiquewhite;
    outline-offset: -2px;
}

table.warning td.description p {
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

table.warning td.description ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

table.warning td.warning {
    font-family: monospace;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 0.5em;
}

table.warning-data {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

table.warning-data td {
    vertical-align: baseline;
}

table.warning-data td div.list {
    display: flex;
    font-family: monospace;
    justify-content: center;
}

table.warning-data td, th {
    margin: 5px;
    padding: 5px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.fixed {
    font-family: monospace;
}

.number {
    font-family: monospace;
    text-align: right;
}

.hover-text {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tooltip-text {
    visibility: hidden;
    background-color: #192733;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    width: 100px;
    line-height: 0;
}

.hover-text:hover .tooltip-text {
    left: -40px;
    top: -40px;
    line-height: normal;
    padding: 10px 15px 10px 15px;
    visibility: visible;
}
