<html>
<head>
  <title>Benchmark Data</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="top">
  <fieldset>
    <legend>Benchmark {{ .Data.BenchName .Bench }}</legend>
    {{ template "choices" $ }}
    <table class="data">
      <tr>
        <th>Handler</th>
        <th>Runs</th>
        <th>Ns/Op</th>
        <th>Bytes/Op</th>
        <th>Allocs/Op</th>
        <th>MB/Sec</th>
      </tr>
      {{ range $tag, $record := .Data.HandlerRecords .Bench }}
        <tr>
          <td>{{ $.Data.HandlerName $tag }}</td>
          <td class="number">{{ $record.Iterations }}</td>
          <td class="number">{{ printf "%0.2f" $record.NanosPerOp }}</td>
          <td class="number">{{ $record.MemBytesPerOp }}</td>
          <td class="number">{{ $record.MemAllocsPerOp }}</td>
          <td class="number">{{ $record.MemMbPerSec }}</td>
        </tr>
      {{ end }}
    </table>
    <img src="chart.svg?bench={{ .Bench }}" alt="Chart for Benchmark {{ .Data.BenchName .Bench }}" />
  </fieldset>
</div>
</body>
</html>
