        <script>
          function testChoice(form) {
            window.location.href = "/go-slog/test/" + form.tag.value + ".html";
            return true;
          }
          function hdlrChoice(form) {
            window.location.href = "/go-slog/handler/" + form.tag.value + ".html";
            return true;
          }
        </script>
        <table>
          <tr>
            <td align="right">Test:</td>
            <td>
              <form class="choice">
                <select name="tag" id="tag" onchange="testChoice(this.form);">
                  <option value="" selected disabled hidden>- Choose -</option>
                  {{ range .DataBench.TestTags }}
                    <option value="{{ . }}" {{ if eq $.Test . }}selected{{ end }}>{{ $.DataBench.TestName . }}</option>
                  {{ end }}
                </select>
              </form>
            </td>
          </tr>
          <tr>
            <td align="right">Handler:</td>
            <td>
              <form action="handler" class="choice">
                <select name="tag" id="tag" onchange="hdlrChoice(this.form);">
                  <option value="" selected disabled hidden>- Choose -</option>
                  {{ range .DataBench.HandlerTags }}
                    <option value="{{ . }}" {{ if eq $.Handler . }}selected{{ end }}>{{ $.DataBench.HandlerName . }}</option>
                  {{ end }}
                </select>
              </form>
            </td>
          </tr>
        </table>