<html>
<head>
  <title>Benchmark Data</title>
  <link rel="stylesheet" href="/go-slog/style.css">
  <script>
    function toggleTableRow(id) {
        var elem = document.getElementById(id);
        elem.style.display = elem.style.display == "none" ? "table-row" : "none";
    }
  </script>
</head>

<body>
<table class="top">
  <tr>
    <td>
      <a href="/go-slog/index.html"><img src="/go-slog/home.svg" alt="Home" class="home" /></a>
      <h1 class="home">Handler {{ .Bench.HandlerName .Handler }}</h1>
    </td>
    <td align="right">
      {{ template "choices" $ }}
    </td>
  </tr>
  <tr>
    <td colspan=2 align="center">
      <h2 align="left">Benchmark Data</h2>
      <table class="data">
        <tr>
          <th>Benchmark</th>
          <th>Runs</th>
          <th>Ns/Op</th>
          <th>Allocs/Op</th>
          <th>Bytes/Op</th>
          <th>GB/Sec</th>
        </tr>
        {{ range $tag, $record := .Bench.TestRecords .Handler }}
          <tr>
            <td>{{ $.Bench.TestName $tag }}</td>
            <td class="number">{{ $.FixUint $record.Runs }}</td>
            <td class="number">{{ $.FixFloat $record.NanosPerOp }}</td>
            <td class="number">{{ $.FixUint $record.MemAllocsPerOp }}</td>
            <td class="number">{{ $.FixUint $record.MemBytesPerOp }}</td>
            <td class="number">{{ $.FixFloat $record.GbPerSec }}</td>
          </tr>
        {{ end }}
      </table>
    </td>
  </tr>
  <tr>
    <td colspan=2 align="center">
      <h2 align="left">Benchmark Charts</h2>
      <table>
        <tr>
          <td><img src="/go-slog/chart/{{ .Handler }}/Nanos.svg" alt="{{ .Bench.HandlerName .Handler }} Ns/Op" class="chart" /></td>
          <td><img src="/go-slog/chart/{{ .Handler }}/MemAllocs.svg" alt="{{ .Bench.HandlerName .Handler }} Allocs/Op" class="chart" /></td>
        </tr>
        <tr>
          <td><img src="/go-slog/chart/{{ .Handler }}/MemBytes.svg" alt="{{ .Bench.HandlerName .Handler }} Bytes/Op" class="chart" /></td>
          <td><img src="/go-slog/chart/{{ .Handler }}/GbPerSec.svg" alt="{{ .Bench.HandlerName .Handler }} GB/Sec" class="chart" /></td>
        </tr>
      </table>
    </td>
  </tr>
  {{ if .Warning.HasHandler .Handler.Tag }}
    <tr>
      <td colspan=2 align="center">
        <h2 align="left" style="padding-top: 1em;">Warnings</h2>
        <table class="warning">
          <colgroup>
            <col width="3%"/>
            <col width="3%"/>
            <col width="30%"/>
            <col width="64%"/>
          </colgroup>
          {{ $data := .Warning.ForHandler .Handler.Tag }}
          {{ range $level := $data.Levels }}
            <tr>
              <td colspan=4 class="level">{{ $level.Name }}</td>
            </tr>
            {{ range $warning := $level.Warnings }}
              <tr>
                <td></td>
                <td colspan=2 class="warning">
                  {{ $warning.Name }}
                </td>
                <td class="extra">
                  {{ $warning.Description }}
                </td>
              </tr>
              <tr class="instance">
                <td colspan=2></td>
                <td colspan=2>
                  <table class="instance">
                    <colgroup>
                      <col width="3%"/>
                      <col width="30%"/>
                      <col width="50%"/>
                      <col width="7%"/>
                    </colgroup>
                    {{ range $index, $instance := $warning.Instances }}
                      {{ $id := printf "%v%v" $warning.Name $instance.Name }}
                      {{ $color := "lightcyan" }}
                      {{ if eq (mod $index 2) 0 }}
                        {{ $color = "lightgray" }}
                      {{ end }}
                      <tr>
                        <td colspan=2 class="name" style="background-color:{{ $color }};">{{  $instance.Name  }}</td>
                        <td class="extra" style="background-color:{{ $color }};">{{  $instance.Extra  }}</td>
                        <td class="logLink" style="background-color:{{ $color }};">
                          {{ if $instance.HasLog }}
                            <button type="button" onclick="toggleTableRow('{{ $id }}')">Log</button>
                          {{ end }}
                        </td>
                      </tr>
                      <tr id="{{ $id }}" style="display:none;">
                        <td style="background-color:{{ $color }};"></td>
                        <td style="background-color:{{ $color }};" colspan=3 class="logLine"><pre>{{ $instance.Log }}</pre></td>
                      </tr>
                    {{ end }} {{/* range over instances */}}
                  </table>
                </td>
              </tr>
            {{ end }} {{/* range over warnings */}}
          {{ end }} {{/* range over levels */}}
        </table>
      </td>
  {{ end }} {{/* if there are warnings for this handler */}}
</table>
</div>
</body>
</html>
