<html>
<head>
  <title>Handler Data</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="top">
  <fieldset>
    <legend>Handler {{ .Data.HandlerName .Handler }}</legend>
    {{ template "choices" $ }}
    <table class="data">
      <tr>
        <th>Benchmark</th>
        <th>Runs</th>
        <th>Ns/Op</th>
        <th>Bytes/Op</th>
        <th>Allocs/Op</th>
        <th>MB/Sec</th>
      </tr>
      {{ range $tag, $record := .Data.BenchRecords .Handler }}
        <tr>
          <td>{{ $.Data.BenchName $tag }}</td>
          <td class="number">{{ $record.Iterations }}</td>
          <td class="number">{{ printf "%0.2f" $record.NanosPerOp }}</td>
          <td class="number">{{ $record.MemBytesPerOp }}</td>
          <td class="number">{{ $record.MemAllocsPerOp }}</td>
          <td class="number">{{ $record.MemMbPerSec }}</td>
        </tr>
      {{ end }}
    </table>
  </fieldset>
</div>
</body>
</html>
