<html>
<head>
  <title>Benchmarks</title>
  <link rel="stylesheet" href="/go-slog/style.css">
</head>

<body>
  <table class="root">
    <tr><td>
      <fieldset>
        <legend>Tests</legend>
        <table>
          {{ range .DataBench.TestTags }}
            <tr><td><a href="/go-slog/test/{{ . }}.html">{{ $.DataBench.TestName . }}</a></td></tr>
          {{ end }}
        </table>
      </fieldset>
    </td><td>
      <fieldset>
        <legend>Handlers</legend>
        <table>
          {{ range .DataBench.HandlerTags }}
            <tr><td><a href="/go-slog/handler/{{ . }}.html">{{ $.DataBench.HandlerName . }}</a></td></tr>
          {{ end }}
        </table>
      </fieldset>
    </td></tr>
  </table>
</body>
</html>
