body {
    background-color: gray;
    justify-content: center;
    width:100%;
}

fieldset {
    margin:  0px auto;
}

legend {
    font-weight: bold;
    padding: 0.5em;
}

div.top {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 5px;
    padding: 5px;
}

table.data {
    margin: 5px;
    padding: 5px;
}

table.data td, th {
    margin: 5px;
    padding: 5px;
}

table.data td {
    border: 2px inset darkgray;
}

table.root td {
    vertical-align: top;
    width: 50%;
}

.number {
    font-family: monospace;
    text-align: right;
}
