body {
    background-color: gray;
    justify-content: center;
    height: fit-content;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
}

form.choice {
    margin-bottom: 0;
}

h1.home {
    display: inline-block;
}

img.chart {
    border: 2px inset white;
}

img.home {
    display: inline-block;
    height: 2em;
    width: 2em;
    vertical-align: text-bottom;
}

legend {
    font-weight: bold;
    padding: 0.5em;
}

table.data {
    margin: 5px;
    padding: 5px;
}

table.data td, th {
    margin: 5px;
    padding: 5px;
}

table.data td {
    border: 2px inset darkgray;
    background-color: lightgray;
}

table.root {
    margin-left: auto;
    margin-right: auto;
}

table.root td {
    vertical-align: top;
}

table.root td.warnings {
    background-color: white;
    border: 2px inset white;
    overflow: scroll;
}

table.root td.warnings pre {
    width: 800;
}

table.top {
    margin-left: auto;
    margin-right: auto;
}

table.warning {
    margin: 5px;
    padding: 5px;
    table-layout: fixed;
    width: 800;
    border-collapse: collapse;
}

table.warning td {
#   border: black thin solid;
#   padding: 0px;
}

table.warning td.extra {
    font-family: monospace;
    font-size: 1em;
}

table.warning td.header {
    font-size: 1.25em;
    font-weight: bold;
}

table.warning td.level {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
}

table.warning td.logLine {
    font-family: monospace;
    background-color: antiquewhite;
    border: 2px inset antiquewhite;
}

table.warning tr.instance td.logLink {
    text-align: center;
}

table.warning td.warning {
    font-family: monospace;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 0.5em;
}

table.warning tr.instance td.name {
    font-family: monospace;
    font-size: 1em;
}

table.warning tr.instance td.extra {
    font-family: monospace;
    font-size: 1em;
}

.number {
    font-family: monospace;
    text-align: right;
}
