<html>
<head>
  <title>Benchmark Data</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<table class="top">
  <tr>
    <td>
      <h1>Test {{ .Data.TestName .Test }}</h1>
    </td>
    <td align="right">
      {{ template "choices" $ }}
    </td>
  </tr>
  <tr>
    <td colspan=2 align="center">
      <table class="data">
        <tr>
          <th>Handler</th>
          <th>Runs</th>
          <th>Ns/Op</th>
          <th>Allocs/Op</th>
          <th>Bytes/Op</th>
          <th>GB/Sec</th>
        </tr>
        {{ range $tag, $record := .Data.HandlerRecords .Test }}
          <tr>
            <td>{{ $.Data.HandlerName $tag }}</td>
            <td class="number">{{ $.FixUint $record.Runs }}</td>
            <td class="number">{{ $.FixFloat $record.NanosPerOp }}</td>
            <td class="number">{{ $.FixUint $record.MemAllocsPerOp }}</td>
            <td class="number">{{ $.FixUint $record.MemBytesPerOp }}</td>
            <td class="number">{{ $.FixFloat $record.GbPerSec }}</td>
          </tr>
        {{ end }}
      </table>
    </td>
  </tr>
  <tr>
    <td colspan=2 align="center">
      <table>
        <tr>
          <td><img src="chart.svg?tag={{ .Test }}&item=Nanos" alt="{{ .Data.TestName .Test }} Ns/Op" /></td>
          <td><img src="chart.svg?tag={{ .Test }}&item=MemAllocs" alt="{{ .Data.TestName .Test }} Allocs/Op" /></td>
        </tr>
        <tr>
          <td><img src="chart.svg?tag={{ .Test }}&item=MemBytes" alt="{{ .Data.TestName .Test }} Bytes/Op" /></td>
          <td><img src="chart.svg?tag={{ .Test }}&item=GbPerSec" alt="{{ .Data.TestName .Test }} GB/Sec" /></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
