<html>
<head>
  <title>Benchmark Data</title>
  <link rel="stylesheet" href="/go-slog/style.css">
  <script>
    function toggleTableRow(id) {
        var elem = document.getElementById(id);
        elem.style.display = elem.style.display == "none" ? "table-row" : "none";
    }
  </script>
</head>

<body>
<table class="top">
  <tr>
    <td>
      <a href="/go-slog/index.html"><img src="/go-slog/home.svg" alt="Home" class="home" /></a>
      <h1 class="home">Test {{ .Benchmarks.TestName .Test }}</h1>
    </td>
    <td align="right">
      {{ template "choices" $ }}
    </td>
  </tr>
  {{ if .Benchmarks.HasTest .Test }}
    <tr>
      <td colspan=2 align="center">
        <table class="data">
          <tr>
            <th>Handler</th>
            <th>Runs</th>
            <th>Ns/Op</th>
            <th>Allocs/Op</th>
            <th>Bytes/Op</th>
            <th>GB/Sec</th>
          </tr>
          {{ range $tag, $record := .Benchmarks.HandlerRecords .Test }}
            <tr>
              <td class="fixed">{{ $.Benchmarks.HandlerName $tag }}</td>
              <td class="number">{{ $.FixUint $record.Runs }}</td>
              <td class="number">{{ $.FixFloat $record.NanosPerOp }}</td>
              <td class="number">{{ $.FixUint $record.MemAllocsPerOp }}</td>
              <td class="number">{{ $.FixUint $record.MemBytesPerOp }}</td>
              <td class="number">{{ $.FixFloat $record.GbPerSec }}</td>
            </tr>
          {{ end }}
        </table>
      </td>
    </tr>
    <tr>
      <td colspan=2 align="center">
        <table>
          <tr>
            <td><img src="/go-slog/chart/{{ .Test }}/Nanos.svg" alt="{{ .Benchmarks.TestName .Test }} Ns/Op" class="chart" /></td>
            <td><img src="/go-slog/chart/{{ .Test }}/MemAllocs.svg" alt="{{ .Benchmarks.TestName .Test }} Allocs/Op" class="chart" /></td>
          </tr>
          <tr>
            <td><img src="/go-slog/chart/{{ .Test }}/MemBytes.svg" alt="{{ .Benchmarks.TestName .Test }} Bytes/Op" class="chart" /></td>
            <td><img src="/go-slog/chart/{{ .Test }}/GbPerSec.svg" alt="{{ .Benchmarks.TestName .Test }} GB/Sec" class="chart" /></td>
          </tr>
        </table>
      </td>
    </tr>
  {{ end }}
  {{ if .Warnings.HasTest .Test }}
    <tr>
      <td colspan=2 align="center">
        <h2 align="left" style="padding-top: 1em;">Warnings</h2>
        <table class="warning">
          <colgroup>
            <col width="3%"/>
            <col width="3%"/>
            <col width="30%"/>
            <col width="64%"/>
          </colgroup>
          {{ $data := .Warnings.ForTest .Test }}
          {{ template "warnings" $data }}
        </table>
      </td>
    </tr>
  {{ end }}
</table>
</body>
</html>
