<html>
<head>
  <title>Guts</title>
  <link rel="stylesheet" href="/go-slog/style.css">
  <script src="/go-slog/scripts.js"></script>
</head>

<body>
<div class="wrapper">
  <div class="header">
    {{ template "partHeader" dict "top" $ "title" "Data and Warnings" }}
  </div>
  <div class="content">
    <div style="height:1000px;">
      <table class="top">
        <tr>
          <td colspan=2>
            <h2>Benchmark Data</h2>
          </td>
        </tr>
        {{ template "partSource" $.Benchmarks }}
        <tr><td colspan=2><hr/></td></tr>
        <tr>
          <td colspan=2>
            <h2>Warnings</h2>
          </td>
        </tr>
        {{ template "partSource" $.Warnings }}
      </table>
    </div>
  </div>
  <div class="footer">
    {{ template "partFooter" $ }}
  </div>
</div>
</div>
</body>
</html>
