<html lang="en">
<head>
  <title>Benchmark Data</title>
  <link rel="stylesheet" href="/go-slog/style.css">
  <script src="/go-slog/scripts.js"></script>
</head>

<body>
<div class="wrapper">
  <div class="header">
    {{ $name := .Benchmarks.HandlerName .Handler }}
    {{ template "partHeader" dict "top" $ "title" (printf "Handler <span class=\"fixed\">%s</span>" $name) }}
  </div>
  <div class="content">
    <div>
      <table class="top">
        {{ if .Benchmarks.HasHandler .Handler }}
          {{ $benchScore := .Scores.HandlerBenchScores .Handler }}
          <tr class="title">
            <td><h2>Benchmark Data</h2></td>
            <td class="score">Score: <span>{{ $.FixFloat $benchScore.Overall }}</span></td>
          </tr>
          <tr>
            <td colspan=2>
              <table class="data">
                <tr>
                  <th>Benchmark</th>
                  <th>Runs</th>
                  <th>Ns/Op</th>
                  <th>Allocs/Op</th>
                  <th>Bytes/Op</th>
                  <th>MB/Sec</th>
                  <th>Score</th>
                </tr>
                {{ range $tag, $record := .Benchmarks.TestRecords .Handler }}
                  <tr>
                    <td class="fixed">{{ $.Benchmarks.TestName $tag }}</td>
                    <td class="number">{{ $.FixUint $record.Runs }}</td>
                    <td class="number">{{ $.FixFloat $record.NanosPerOp }}</td>
                      <td class="number">{{ $.FixUint $record.MemAllocsPerOp }}</td>
                     <td class="number">{{ $.FixUint $record.MemBytesPerOp }}</td>
                    <td class="number">{{ $.FixFloat $record.MbPerSec }}</td>
                    <td class="number">{{ $.FixFloat ($benchScore.ForTest $tag) }}</td>
                  </tr>
                {{ end }} {{/* range $tag, $record */}}
              </table>
            </td>
          </tr>
          <tr><td colspan=2><hr/></td></tr>
          <tr class="title"><td colspan=2><h2>Benchmark Charts</h2></td></tr>
          <tr>
            <td colspan=2 class="score">
              <table class="charts">
                <tr>
                  <td><img src="/go-slog/chart/{{ .Handler }}/Nanos.svg" alt="{{ .Benchmarks.HandlerName .Handler }} Ns/Op" class="chart" /></td>
                  <td><img src="/go-slog/chart/{{ .Handler }}/MemAllocs.svg" alt="{{ .Benchmarks.HandlerName .Handler }} Allocs/Op" class="chart" /></td>
                </tr>
                <tr>
                  <td><img src="/go-slog/chart/{{ .Handler }}/MemBytes.svg" alt="{{ .Benchmarks.HandlerName .Handler }} Bytes/Op" class="chart" /></td>
                  <td><img src="/go-slog/chart/{{ .Handler }}/GbPerSec.svg" alt="{{ .Benchmarks.HandlerName .Handler }} GB/Sec" class="chart" /></td>
                </tr>
              </table>
            </td>
          </tr>
        {{ end }} {{/* if .Benchmarks.HasHandler .Handler */}}
        {{ if .Warnings.HasHandler .Handler }}
          <tr><td colspan=2><hr/></td></tr>
          <tr class="title">
            <td><h2 >Warnings</h2></td>
            <td class="score">Score: <span>{{ $.FixFloat (.Scores.HandlerWarningScore .Handler) }}</span></td>
          </tr>
          <tr>
            <td colspan=2>
              <table class="warning">
                <tr>
                  <td style="width:3%;"></td>
                  <td style="width:3%;"></td>
                  <td style="width:30%;"></td>
                  <td style="width:58%;"></td>
                  <td style="width:6%;"></td>
                </tr>
                {{ $data := .Warnings.ForHandler .Handler }}
                {{ template "partWarnings" $data }}
              </table>
            </td>
        {{ end }} {{/* if there are warnings for this handler */}}
      </table>
    </div>
  </div>
  <div class="footer">
    {{ template "partFooter" $ }}
  </div>
</div>
</body>
</html>
