<html>
<head>
  <title>Benchmarks</title>
  <link rel="stylesheet" href="/go-slog/style.css">
</head>

<body>
  <table class="root">
    <tr>
      <td>
        <fieldset>
          <legend>Handlers</legend>
          <table>
            {{ range .Benchmarks.HandlerTags }}
              <tr><td><a href="/go-slog/handler/{{ . }}.html">{{ $.Benchmarks.HandlerName . }}</a></td></tr>
            {{ end }}
          </table>
        </fieldset>
        <fieldset>
          <legend>Other</legend>
          <table>
            <tr><td><a href="/go-slog/warnings.html">Warnings</a></td></tr>
          </table>
        </fieldset>
      </td>
      <td>
        <fieldset>
          <legend>Bench Tests</legend>
          <table>
            {{ range .Benchmarks.TestTags }}
              <tr><td><a href="/go-slog/test/{{ . }}.html">{{ $.Benchmarks.TestName . }}</a></td></tr>
            {{ end }}
          </table>
        </fieldset>
      </td>
      <td>
        <fieldset>
          <legend>Verify Tests</legend>
          <table>
            {{ range .Warnings.TestTagsForSource "Verify" }}
              <tr><td><a href="/go-slog/test/{{ . }}.html">{{ $.Warnings.TestName . }}</a></td></tr>
            {{ end }}
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
</body>
</html>
