<html lang="en">
<head>
  <title>Benchmark Data</title>
  <link rel="stylesheet" href="/go-slog/style.css">
  <script src="/go-slog/scripts.js"></script>
</head>

<body>
<div class="wrapper">
  <div class="header">
    {{ $name := "undefined" }}
    {{ if .Benchmarks.HasTest .Test }}
      {{ $name = .Benchmarks.TestName .Test }}
    {{ else }}
      {{ $name = .Warnings.TestName .Test }}
    {{ end }}
    {{ template "partHeader" dict "top" $ "title" (printf "Test <span class=\"fixed\">%s</span>" $name) }}
  </div>
  <div class="content">
    <div>
      <table class="top">
        {{ if .Benchmarks.HasTest .Test }}
          <tr class="title"><td><h2>Benchmark Data</h2></td></tr>
          <tr>
            <td colspan=2>
              <table class="data">
                <tr>
                  <th>Handler</th>
                  <th>Runs</th>
                  <th>Ns/Op</th>
                  <th>Allocs/Op</th>
                  <th>Bytes/Op</th>
                  <th>MB/Sec</th>
                </tr>
                {{ range $tag, $record := .Benchmarks.HandlerRecords .Test }}
                  <tr>
                    <td class="fixed">{{ $.Benchmarks.HandlerName $tag }}</td>
                    <td class="number">{{ $.FixUint $record.Runs }}</td>
                    <td class="number">{{ $.FixFloat $record.NanosPerOp }}</td>
                    <td class="number">{{ $.FixUint $record.MemAllocsPerOp }}</td>
                    <td class="number">{{ $.FixUint $record.MemBytesPerOp }}</td>
                    <td class="number">{{ $.FixFloat $record.MbPerSec }}</td>
                  </tr>
                {{ end }}
              </table>
            </td>
          </tr>
          <tr><td colspan=2><hr/></td></tr>
          <tr><td colspan=2 class="title"><h2>Benchmark Charts</h2></td></tr>
          <tr>
            <td colspan=2 class="score">
              <table class="charts">
                <tr>
                  <td><img src="/go-slog/chart/{{ .Test }}/Nanos.svg" alt="{{ .Benchmarks.TestName .Test }} Ns/Op" class="chart" /></td>
                  <td><img src="/go-slog/chart/{{ .Test }}/MemAllocs.svg" alt="{{ .Benchmarks.TestName .Test }} Allocs/Op" class="chart" /></td>
                </tr>
                <tr>
                  <td><img src="/go-slog/chart/{{ .Test }}/MemBytes.svg" alt="{{ .Benchmarks.TestName .Test }} Bytes/Op" class="chart" /></td>
                  <td><img src="/go-slog/chart/{{ .Test }}/GbPerSec.svg" alt="{{ .Benchmarks.TestName .Test }} GB/Sec" class="chart" /></td>
                </tr>
              </table>
            </td>
          </tr>
        {{ end }}
        {{ if .Warnings.HasTest .Test }}
          {{ if .Benchmarks.HasTest .Test }}
            <tr><td colspan=2><hr/></td></tr>
          {{ end }}
          <tr><td colspan=2 class="title"><h2 >Warnings</h2></td></tr>
          <tr>
            <td colspan=2>
              <table class="warning">
                <tr>
                  <td style="width:3%;"></td>
                  <td style="width:3%;"></td>
                  <td style="width:30%;"></td>
                  <td style="width:58%;"></td>
                  <td style="width:6%;"></td>
                </tr>
                {{ $data := .Warnings.ForTest .Test }}
                {{ template "partWarnings" $data }}
              </table>
            </td>
          </tr>
        {{ end }}
      </table>
    </div>
  </div>
  <div class="footer">
    {{ template "partFooter" $ }}
  </div>
</div>
</body>
</html>
