<html lang="en">
<head>
  <title>Text File</title>
  <link rel="stylesheet" href="/go-slog/style.css">
  <script src="/go-slog/scripts.js"></script>
</head>

<body>
<div class="wrapper">
  <div class="header">
    {{ template "partHeader" dict "top" $ "title" (printf "Text File <span class=\"fixed\">%s</span>" $.Item.Name) }}
  </div>
  <div class="content">
    <div>
      <table class="top">
        <tr><th class="left">{{ $.Item.Summary }}</th></tr>
        <tr class="text"><td>{{ $.Item.Data }}</td></tr>
      </table>
    </div>
  </div>
  <div class="footer">
    {{ template "partFooter" $ }}
  </div>
</div>
</body>
</html>
