<html lang="en">
<head>
  <title>Benchmark Data</title>
  <link rel="stylesheet" href="/go-slog/style.css">
  <script src="/go-slog/scripts.js"></script>
</head>

<body>
<div class="wrapper">
  <div class="header">
    {{ template "partHeader" dict "top" $ "title" "Warnings" }}
  </div>
  <div class="content">
    <div>
      <table class="top">
        <tr>
          <td colspan=2 class="center">
            <table class="warning">
              <tr>
                <td style="width:3%;"></td>
                <td style="width:3%;"></td>
                <td style="width:30%;"></td>
                <td style="width:57%;"></td>
                <td style="width:7%;"></td>
              </tr>
              {{ range $level := .Levels }}
                <tr>
                  <td colspan=5 class="level">{{ $level }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan=4>{{ $level.Summary }}</td>
                </tr>
                {{ range $warning := $level.Warnings }}
                  {{ $warnData := $.Warnings.FindWarning $warning.Name }}
                  <tr>
                    <td></td>
                    <td colspan=2 class="warning">{{ $warning.Name }}</td>
                    <td colspan=1 class="extra">{{ $warning.Summary }}</td>
                    <td class="center">
                      {{ if $warnData.HasUsage }}
                        <button type="button" title="Toggle Warning Description" onclick="toggleTableRow('{{ $warning.Name }}-who')">Usage</button>
                      {{ end }}
                    </td>
                  </tr>
                  {{ if $warning.HasDescription }}
                    <tr>
                      <td colspan=2></td>
                      <td colspan=3 class="description">{{ $warning.Description }}</td>
                    </tr>
                  {{ end }}
                  {{ if $warnData.HasUsage }}
                    <tr id="{{ $warning.Name }}-who" style="display:none;">
                      <td colspan=2></td>
                      <td colspan=3>
                        <table class="warning-data">
                          <tr>
                            {{ if $warnData.HasHandlers }}
                              <th style="width:50%;">Handlers</th>
                            {{ end }}
                            {{ if $warnData.HasTests }}
                              <th style="width:50%;">Tests</th>
                            {{ end }}
                          </tr>
                          <tr>
                            <td>
                              <div class="list">
                                {{ range $hdl := $warnData.Handlers }}{{ $hdl.Name }}<br/>{{ end }}
                              </div>
                            </td>
                            <td>
                              <div class="list">
                                {{ range $test := $warnData.Tests }}{{ $test.Name }}<br/>{{ end }}
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  {{ end }}
                {{ end }}
              {{ end }}
            </table>
          </td>
        </tr>
        <tr><td colspan=2><hr/></td></tr>
        <tr>
          <td colspan=2><h2>Warnings vs. Handlers</h2></td>
        </tr>
        <tr>
          <td colspan=2 class="center">
            <table class="handler-v-warning">
              <tr>
                <td colspan=2></td>
                {{ range $handler := .Warnings.HandlerTags }}
                  <th><div><span>{{ $.Warnings.HandlerName $handler }}</span></div></th>
                {{ end }}
              </tr>
              {{ range $level := .Levels }}
                <tr><td colspan=2 class="level">{{ $level }}</td></tr>
                {{ range $warning := $level.Warnings }}
                  <tr>
                    <td style="width:5%;"></td>
                    <td class="name">{{ $warning.Name }}</td>
                    {{ range $handler := $.Warnings.HandlerTags }}
                      {{ $count := $.Warnings.HandlerWarningCount $handler $warning }}
                      {{ if gt $count 0 }}
                        <td class="count"><span>{{ $.Warnings.HandlerWarningCount $handler $warning }}</span></td>
                      {{ else }}
                        <td class="blank"></td>
                      {{ end }}
                    {{ end }}
                  </tr>
                {{ end }}
              {{ end }}
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="footer">
    {{ template "partFooter" $ }}
  </div>
</div>
</body>
</html>