    {{ $root := .root }}
    <table class="header">
        <tr>
          <td>
            <a href="/go-slog/index.html"><img src="/go-slog/home.svg" alt="Home" class="home" /></a>
            <h2 class="home">{{ unescape .title }}</h2>
          </td>
          <td align="right">
            <table>
              <tr>
                <td align="right">Handlers</td>
                <td>
                  <form class="choice">
                    <select name="tag" id="tag" onchange="hdlrChoice(this.form);">
                      <option value="" selected disabled hidden>- Choose -</option>
                      {{ range $root.Benchmarks.HandlerTags }}
                        <option value="{{ . }}" {{ if eq $root.Handler . }}selected{{ end }}>{{ $root.Benchmarks.HandlerName . }}</option>
                      {{ end }}
                    </select>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="right">Bench Tests</td>
                <td>
                  <form class="choice">
                    <select name="tag" id="tag" onchange="testChoice(this.form);">
                      <option value="" selected disabled hidden>- Choose -</option>
                      {{ range $root.Benchmarks.TestTags }}
                        <option value="{{ . }}" {{ if eq $root.Test . }}selected{{ end }}>{{ $root.Benchmarks.TestName . }}</option>
                      {{ end }}
                    </select>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="right">Verify Tests</td>
                <td>
                  <form class="choice">
                    <select name="tag" id="tag" onchange="testChoice(this.form);">
                      <option value="" selected disabled hidden>- Choose -</option>
                      {{ range $root.Warnings.TestTagsForSource "Verify" }}
                        <option value="{{ . }}" {{ if eq $root.Test . }}selected{{ end }}>{{ $root.Warnings.TestName . }}</option>
                      {{ end }}
                    </select>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="right">Other Links</td>
                <td>
                  <form class="choice">
                    <select name="tag" id="tag" onchange="otherChoice(this.form);">
                      <option value="" selected disabled hidden>- Choose -</option>
                      <option value="index.html"    {{ if eq $root.Page "pageRoot" }}selected{{ end}}>Home</option>
                      <option value="guts.html"     {{ if eq $root.Page "pageGuts" }}selected{{ end}}>Guts</option>
                      <option value="warnings.html" {{ if eq $root.Page "pageWarnings" }}selected{{ end}}>Warnings</option>
                    </select>
                  </form>
              </tr>
            </table>
          </td>
        </tr>
    </table>
