<table class="data">
  {{ if .HasCaption }}<caption>{{ .Caption }}</caption>{{ end }}
  <tr>
    {{ range .Columns }}<th>{{ . }}</th>{{ end }}
  </tr>
  {{ range .Rows }}
    <tr>
      {{ range . }}<td>{{ . }}</td>{{ end }}
    </tr>
  {{ end }}
</table>
